<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Esmeralda</title>
    <!-- ICONO DE LA WEB-->
    <link rel="icon" href="favicon/favicon.png" type="image/x-icon">
</head>

<body>

    <!--HEADER-->
    <header>
        <div class="container">
            <!-- MENU AYUDA AL CLIENTE-->
            <div class="container-ayuda">
                <form class="btn-busqueda">
                    <input type="search" placeholder="¿Qué Buscas?">
                    <button class="btn-buscar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

            </div>

            <!-- LOGO-->
            <div class="container-logo">
                <div class="logo-img">
                    <a class="logo" href="index.html">
                        <img class="logo-movil" src="img/logo-movil.png" alt="Crystal Zen" />
                        <img class="logo-desktop" src="img/logo-desktop.png" alt="Crystal Zen" />

                    </a>
                </div>
            </div>

            <!-- MENU ICON BAR-->
            <div class="container-usuario">

                <i class="fa fa-user"></i>
                <p>Mi cuenta</p>

                <i class="fa-solid fa-truck"> </i>
                <p>Mis Pedidos</p>

                <i class="fa-solid fa-cart-shopping"> </i>
                <p>Mi Carro</p>
            </div>
        </div>

    </header>


    <!--MENU PRINCIPAL-->
    <nav class="nav">
        <!--botón hamburguesa menú-->
        <button class="nav-toggle" aria-label="Abrir Menú">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="nav-menu">
            <!--botón cerrar menú-->
            <div class="container-head-menu">
                <div class="container-btn-cierre">
                    <div>
                        <i class="fa-regular fa-circle-user btn-cierre" style="color: #37433A;"></i>
                    </div>
                    <div>
                        <p><strong>¡Te damos la bienvenida!</strong></p>
                    </div>

                    <div>
                        <button id="cerrar-menu" class="btn-cierre" aria-label="Cerrar Menú">
                            <i class="fa-solid fa-xmark" style="color: #37433A;"></i>
                        </button>
                    </div>
                </div>

                <!--botón inicio-->
                <div>
                    <button class="btn-menu-sesion btn-gral">Iniciar Sesión</button>
                </div>

                <!--NO REGISTRADO-->
                <div class="container-no-registrado">
                    <p>¿No tienes cuenta? <a href="#">Registrate</a></p>
                </div>
            </div>

            <hr> <!--separador-->
            <ul>
                <li class="nav-menu-item"><a href="quienes-somos.html" class="nav-link">¿Quiénes somos?</a></li>
                <li class="nav-menu-item"><a href="mercado.html" class="nav-link">Productos</a>
                <li class="nav-menu-item"><a href="index.html#section-explorar" class="nav-link">Explora el Poder de
                        las Piedras</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-link">Servicios</a>
                    <div class="sub-menu">
                        <ul>
                            <li><a href="yoga.html">Yoga</a></li>
                            <li><a href="gemoterapia.html">Gemoterapia</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-menu-item"><a href="clientes.html" class="nav-link">Nuestros Clientes</a></li>
                <li class="nav-menu-item"><a href="contacto.html" class="nav-link ">Contacto</a>
                </li>
            </ul>

        </div>
    </nav>

    </section>

    <div class="producto1">

        <img src="img/esmeralda.jpg" alt="esmeralda" id="gema1">

        <div class="contenido1">
            <h1>Esmeralda</h1>
            <div class="contenido2">
                <h2>Descripción</h2>
                <p>La esmeralda es una variedad de berilo de color verde, la variedad más valorada de este grupo.La
                    esmeralda se considera la representación del color verde de sanación y se asocia al chakra corazón.
                    Es una piedra equilibrante e inspiradora que favorece la unión, la amistad y el amor.
                </p>
                <ul>
                    <li class="li-piedra">Potencia la capacidad creativa.</li>
                    <li class="li-piedra">Eleva la vibración del aura. </li>
                    <li class="li-piedra">Ayuda en la recuperación después de las enfermedades.</li>
                </ul>
            </div>
        </div>


    </div>

    <div class="contenedor-preguntas-frecuentes">

        <h2 class="preguntas-frecuentes">Preguntas Frecuentes</h2>

        <div class="preguntas">
            <div class="nombre">
                <button id="boton-toggle" class="boton-toggle1">¿Cuál es el origen de la piedra?</button>
                <div id="nombre1" class="nombre1">
                    <p>La palabra esmeralda fue tomada del francés antiguo esmeralde (actualmente el vocablo francés es
                        émeraude). El vocablo francés es una deformación vulgar del latín smaragdus, que designaba tanto
                        a la esmeralda como a otras piedras verdes y desarrolló derivados como smaragdinus
                        (esmeraldino).</p>
                </div>
            </div>

            <div class="obtencion">
                <button id="boton-toggle2" class="boton-toggle2">¿Dónde se obtiene?</button>
                <div id="obtencion1" class="obtencion1">
                    <p>Hay yacimientos en: Brasil, Colombia, India, Tanzania, Zimbabwe, Austria y Rusia.</p>
                </div>
            </div>

            <div class="color">
                <button id="boton-toggle3" class="boton-toggle3">¿A qué se debe su color?</button>
                <div id="color1" class="color1">
                    <p>El color verde se debe a las trazas de cromo y algunas veces de vanadio. La esmeralda suele
                        encontrarse en pegmatitas, en micaesquistos y en filones hidrotermales.</p>
                </div>
            </div>

        </div>

    </div>

    <!--FOOTER-->
    <footer id="footer">
        <div class="contenedor container-footer">
            <div class="footer-about">
                <img src="img/logo-footer.png" alt="Crystal Zen" />
                <p>Estamos comprometidos a ofrecer productos de la más alta calidad para aquellos que buscan sanación,
                    equilibrio y transformación personal a través de las propiedades únicas de las piedras y cristales
                    naturales.
                </p>
            </div>

            <div class="footer-contacto">
                <div class="footer-contenedor-contacto">
                    <h4> CONTACTANOS</h4>
                    <a href="mailto:crystalzen@gmail.com" target="_blank">
                        <p>crystalzen@gmail.com</p>
                    </a>
                </div>
                <p>Av. Congreso & Av. Cabildo, CABA, Argentina</p>
                <p class="tlf">1132995848</p>
            </div>

            <div class="footer-redsocial">
                <h4>SIGUENOS EN:</h4>
                <div class="redessociales">
                    <a href="#" title="Instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" title="Twitter">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="#" title="Facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </div>
            </div>
        </div>
        <p class="footer-fraja">© Crystal Zen 2023. Todos los derechos reservados.</p>
    </footer>

    <!-- PAQUETE DE ICONOS -->
    <script src="https://kit.fontawesome.com/943301684c.js" crossorigin="anonymous"></script>

    <!-- JAVASCRIPT CON LAS VALIDACIONES -->
    <script src="main.js"></script>

    <!-- MAPA GOOGLE -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>

    <!-- SCRIPT PREGUNTAS FRECUENTES -->

    <script src="js/script.js"></script>

    <!-- JAVASCRIPT CON HEADER -->

    <script src="js/main.js"></script>


</body>

</html>