{% include 'cabecera.html' %}

    <div class="servicios-ppal">
        <div class="servicios-texto">
            <h2 class="yoga-h2">Gemoterapia</h2>
            <p>La Gemoterapia es una disciplina que utiliza gemas y/o cristales para ayudar a sanar problemas físicos
                y/o psicológicos con resultados óptimos. La posibilidad de curar de las gemas y cristales se centran en
                su capacidad de recibir, transmitir, transformar y renovar la energía que lo que está a su alrededor.
            </p>
            <!-- <p><b>ANUSARA:</b> ir con la corriente ó seguir lo que dicta el corazón</p> -->
            <p>Los cristales cuentan con un campo energético similar al que envuelve a todos los seres vivos. La
                estructura perfecta de los cristales absorbe, almacena, transforma y transmite la energía de su entorno.
                Cuando entra en contacto con un campo energético desequilibrado, su naturaleza energética lo transforma
                y equilibra.</p>

            <p>Es así como la Gemoterapia logra el objetivo de modificar las frecuencias del paciente para equilibrar su
                energía y de esa manera mejorar su salud</p>

        </div>
        <img src="{{ url_for('static', filename='img/gemoterapia.jpg') }}" alt="yoga" id="yoga">
    </div>

    <h2 class="gemas-h2">Transformando y renovando nuestra energía</h2>

    <div class="beneficios-yoga">
        <article class="articulo-yoga">
            <h3>7 Chakras</h3>
            <img src="{{ url_for('static', filename='iconos/chakra.png') }}" id="icono-yoga" alt="yoga">
            <p>Los chakras son las puertas de entrada energética. Son los que reciben, acumulan, transforman,
                distribuyen y ajustan la energía vital del organismo.</p>
        </article>
        <article class="articulo-yoga">
            <h3>Tratamiento</h3>
            <img src="{{ url_for('static', filename='iconos/mandala.png') }}" id="icono-yoga" alt="yoga">
            <p> Se utiliza para equilibrar los niveles y flujos de energía en el cuerpo. Adicionalmente,se dibujan
                mandalas sobre los chakras, para potenciar así el tratamiento.</p>
        </article>
        <article class="articulo-yoga">
            <h3>Cristales</h3>
            <img src=" {{ url_for('static', filename='iconos/gema.png') }}" id="icono-yoga" alt="yoga">
            <p>
                Los cristales más comúnmente utilizados por la gemoterapia, son seleccionados a partir de sus
                propiedades y los beneficios. El tratamiento es personalizado para cada paciente.</p>
        </article>
    </div>

    <div class="botton-inscribirse">
        <a href="/contacto">!EMPEZA AHORA!</a>
    </div>

    {% include 'pie.html' %}