

    <!--FOOTER-->
    <footer id="footer">
        <div class="contenedor container-footer">
            <div class="footer-about">
                <img src="{{ url_for('static', filename='img/logo-footer.png') }}" alt="Crystal Zen" />
                <p>Estamos comprometidos a ofrecer productos de la más alta calidad para aquellos que buscan sanación,
                    equilibrio y transformación personal a través de las propiedades únicas de las piedras y cristales
                    naturales.
                </p>
            </div>

            <div class="footer-contacto">
                <div class="footer-contenedor-contacto">
                    <h4> CONTACTANOS</h4>
                    <a href="mailto:crystalzen@gmail.com" target="_blank">
                        <p>crystalzen@gmail.com</p>
                    </a>
                </div>
                <p>Av. Congreso & Av. Cabildo, CABA, Argentina</p>
                <p class="tlf">1132995848</p>
            </div>

            <div class="footer-redsocial">
                <h4>SIGUENOS EN:</h4>
                <div class="redessociales">
                    <a href="#" title="Instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" title="Twitter">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                    <a href="#" title="Facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </div>
            </div>
        </div>
        <p class="footer-fraja">© Crystal Zen 2023. Todos los derechos reservados.</p>
    </footer>



    <!-- PAQUETE DE ICONOS -->
    <script src="https://kit.fontawesome.com/943301684c.js" crossorigin="anonymous"></script>

    <!-- JAVASCRIPT CON LAS VALIDACIONES -->
    <script src="{{ url_for('static', filename='js2/main2.js') }}"></script> 
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
 
</body>

</html>